{% extends 'layout.html.twig' %}

{% block content %}
<div class="col-lg-12 btnbar">
	<span class="lead pull-right">
		{{ repositories | length }} 
		{% if repositories | length > 1 %}		
		repositories
		{% else %}
		repository
		{% endif %}
	</span>
</div>
<div id="sidebar">
	<div class="scrollable">
		<div class="col-lg-12">
			<h1 class="text-center">localhost</h1>
			<p class="lead text-center">
			{{ repositories | length }} 
			{% if repositories | length > 1 %}		
			repositories
			{% else %}
			repository
			{% endif %}
		</p>

		<div class="alert alert-sm alert-info">
			<span class="glyphicon glyphicon-bullhorn"></span> Go into config/prod.yml to manage your repositories
		</div>
		</div>
	</div>
</div>
<div id="content" class="content-full">
	<div class="scrollable">
		<div class="col-lg-12">
		{% for repository in repositories %}
			<div class="col-lg-3">
				<div class="panel panel-info">
				  <div class="panel-heading">
				  	<span class="glyphicon glyphicon-hdd"></span> Repository
				  </div>
				  <div class="panel-body text-center">
				    <p class="lead">
				    	{{ repository.name }}
				    </p>
				    <p>{{ repository.factoryName }}</p>
				  </div>
				  <div class="panel-footer">
				  	<a href="{{ path('browser.workspaces', { 'repository': repository.name } ) }}" class="btn btn-primary btn-block">  
				  		Open
				  	</a>
				  </div>
				</div>
			</div>
		{% endfor %}
		<div class="col-lg-3">
				<div class="panel panel-default" id="new-repository-panel">
				  <div class="panel-heading">
				  	<span class="glyphicon glyphicon-hdd"></span> Repository
				  </div>
				  <div class="panel-body text-center">
				    <p class="lead">
				    	Go into config dir to set up new repositories
				    </p>
				  </div>
				  <div class="panel-footer">
				  	<a href="#" class="btn btn-default btn-block disabled">  
				  		<span class="glyphicon glyphicon-plus"></span> Create
				  	</a>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
