{% extends 'layout.html.twig' %}

{% block navbar %}
<ul class="nav navbar-nav">
	<li>
	    <a href="{{ path('browser.repositories') }}" class="dropdown-toggle" data-toggle="dropdown">
	      Repositories
	    </a>
	    <ul class="dropdown-menu large">
	    	<li role="presentation" class="dropdown-header">All the configured repositories</li>
        	{% for _repository in repositories|sort %}
        	<li>
        		<a href="{{ path('browser.workspaces', { 'repository': _repository } ) }}" >		
					<span class="glyphicon glyphicon-th"></span> {{ _repository}}
				</a>
			</li>
			{% endfor %}
        </ul>
  	</li>
 	<li class="dropdown">
 		<a href="{{ path('browser.workspaces', { repository: repository }) }}" class="dropdown-toggle" data-toggle="dropdown">
	      {{ repository }}
	    </a>
        <ul class="dropdown-menu large">
        	<li role="presentation" class="dropdown-header">Workspaces of {{ repository }}</li>
        	{% for workspace in data.workspaces|sort %}
        	<li>
        		<a href="{{ path('browser.rootNode', { 'repository': repository, 'workspace': workspace.name } ) }}" >		
					<span class="glyphicon glyphicon-th-list"></span> {{ workspace.name }}
				</a>
			</li>
			{% endfor %}
        </ul>
    </li>
</ul>
{% endblock navbar %}

{% block content %}
<div id="content" class="content-full-nobar">
	<div class="scrollable">
		<div class="col-lg-12">
		{% for workspace in data.workspaces %}
		<div class="col-lg-2">
			<div class="panel panel-info">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-th-list"></span> Workspace
				</div>
			  	<div class="panel-body">
			    	<p class="lead text-center">
			    		{{ workspace.name }}
			    	</p>
			  	</div>
				<div class="panel-footer">
					<div class="row">
						<div class="col-lg-12 text-center">
					  	<a href="{{ path('browser.rootNode', { 'repository': repository, 'workspace': workspace.name } ) }}" class="btn btn-primary">		
					  		 Open
					  	</a>
							{% if 'workspace.delete' in data.support %}
							<a href="#deleteModal{{ workspace.name | url_encode }}" data-toggle="modal" class="btn btn-danger" title="Delete"><span class="glyphicon glyphicon-trash"></span></a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		{% if 'workspace.create' in data.support %}
		<div class="col-lg-2">
			<div class="panel panel-default" id="new-workspace-panel">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-th-list"></span> Workspace
				</div>
			  	<div class="panel-body">
			    	<p class="lead text-center">
			    		New workspace
			    	</p>
			  	</div>
				<div class="panel-footer">
					<div class="row">
						<div class="col-lg-12 text-center">
							<a href="#addWorkspace" data-toggle="modal" class="btn btn-default">		
								<span class="glyphicon glyphicon-plus"></span> Create
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		</div>
	</div>
</div>

{% if 'workspace.delete' in data.support %}
{% for workspace in data.workspaces %}
<div class="modal" id="deleteModal{{ workspace.name | url_encode }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Delete a workspace</h4>
  </div>
  <div class="modal-body">
  	<div class="alert alert-danger">
    	<p>If you delete the workspace {{ workspace.name }}, all its data will be definitively erased !</p>
	</div>
  </div>
  <div class="modal-footer">
  	<form action="{{ path('browser.workspace.delete', { 'repository': repository, 'workspace':workspace.name } ) }}" method="post" role="form">
	    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	    <input type="submit" class="btn btn-danger" value-"Delete">
	</form>
  </div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endfor %}
{% endif %}
{% if 'workspace.create' in data.support %}
<div class="modal" id="addWorkspace" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Create a new workspace</h4>
			</div>
			<form action="{{ path('browser.workspace.create', { 'repository': repository } ) }}" method="post" role="form">
				<div class="modal-body">
					{% if 'workspace.clone' in data.support %}
					<div class="alert alert-sm alert-info">
						<span class="glyphicon glyphicon-bullhorn"></span> If you choose a source workspace, it will be cloned into the new one.
					</div>
					{% endif %}
					<div class="form-group">
						<input type="text" name="name" placeholder="Name of the new workspace" class="form-control">
					</div>
					{% if 'workspace.clone' in data.support %}
					<div class="form-group">
						<select name="srcWorkspace" class="form-control">
							<option value="-1">Select a source workspace (optional)</option>
							{% for workspace in data.workspaces %}
							<option value="{{ workspace.name}}">{{ workspace.name }}</option>
							{% endfor %}
						</select>
					</div>
					{% endif %}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">
						<span class="glyphicon glyphicon-plus"></span> Create a new workspace
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endif %}
{% endblock content %}
