{% extends 'layout-contentwithsidebar.html.twig' %}

{% block navbar %}
<ul class="nav navbar-nav">
  <li>
      <a href="{{ path('browser.repositories') }}" class="dropdown-toggle" data-toggle="dropdown">
        Repositories
      </a>
      <ul class="dropdown-menu large">
          <li role="presentation" class="dropdown-header">All the configured repositories</li>
          {% for _repository in repositories|sort %}
          <li>
            <a href="{{ path('browser.workspaces', { 'repository': _repository } ) }}" >
            <span class="glyphicon glyphicon-th"></span> {{ _repository }}
            </a>
          </li>
          {% endfor %}
        </ul>
    </li>
  <li class="dropdown">
    <a href="{{ path('browser.workspaces', { repository: repository }) }}" class="dropdown-toggle" data-toggle="dropdown">
        {{ repository }}
      </a>
        <ul class="dropdown-menu large">
          <li role="presentation" class="dropdown-header">Workspaces of {{ repository }}</li>
          {% for workspace in workspaces|sort %}
          <li>
            <a href="{{ path('browser.rootNode', { 'repository': repository, 'workspace': workspace } ) }}" >
            <span class="glyphicon glyphicon-th-list"></span> {{ workspace }}
            </a>
        </li>
        {% endfor %}
        <li class="divider"></li>
        <li>
          <a href="{{ path('browser.workspaces', { repository: repository }) }}">
            <span class="glyphicon glyphicon-th"></span> Go back to {{ repository }}
          </a>
        </li>
      </ul>
    </li>
  <li class="active">
    <a href="{{ path('browser.rootNode', { 'repository': repository, 'workspace': workspace } ) }}">
      {{ workspace }}
    </a>
  </li>
{% endblock navbar %}

{% block content %}
<div ng-app="browserApp">
  <div ng-init="repository='{{ repository }}';workspace='{{ workspace }}';path='{{ path }}';baseUrl='{{ path('browser.repositories') }}'">
    <div class="col-lg-12 btnbar" data-ng-controller="BreadcrumbCtrl">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
          <a href="{{ path('browser.workspaces', { repository: repository }) }}" class="btn btn-info">
            <span class="glyphicon glyphicon-th"></span>
          </a>
        </div>
      <div class="btn-group" data-ng-repeat="item in breadcrumb">
        {% raw %}<a data-ng-href="{{baseUrl+repository+'/'+workspace+item.path}}" class="btn btn-default" data-ng-bind="item.name"></a>{% endraw %}

      </div>
      </div>
    </div>
    <div id="sidebar" data-ng-controller="TreeCtrl">
        <div class="scrollable">
          <ul class="tree" id="tree">
             <li data-ng-repeat="node in tree" tree-node></li>
          </ul>
      </div>
    </div>
    <div id="content" data-ng-controller="PropertiesCtrl">
      <div class="scrollable">
        <div id="first-load" data-ng-show="!_first_load">
          <span class="glyphicon glyphicon-refresh"></span>
          <p class="lead">Loading...</p>
        </div>
        <div data-ng-hide="!hasProperties() || !_first_load" id="property-search">
          <div class="input-group col-sm-12">
            <input data-ng-model="search" class="form-control" placeholder="Filter properties by name">
          </div>
        </div>
        <div id="property-content">
          <table class="table table-striped table-hover" data-ng-hide="!hasProperties() || !_first_load">
              <thead>
                  <th>Property name</th>
                  <th>Property value</th>
                  <th>
                    <a href="#" class="pull-right" data-ng-click="setAddPropertyFormStatus(true)" data-ng-hide="showAddPropertyForm">
                      <span class="glyphicon glyphicon-plus"></span>
                    </a>
                    <a href="#" class="pull-right" data-ng-click="setAddPropertyFormStatus(false)" data-ng-show="showAddPropertyForm">
                      <span class="glyphicon glyphicon-minus"></span>
                    </a>
                  </th>
              </thead>
              <tbody>
                  <tr class="warning" data-ng-show="propertyToRestore" id="restoreAlert">
                    <td colspan=2 class="text-warning" style="vertical-align:middle;">
                      Property <span data-ng-bind="propertyDeleted.name"></span> has been deleted (<a href="#" class="text-warning" data-ng-click="confirmPropertyDeletion()">hide</a>)
                    </td>
                    <td>
                      <a data-ng-click="restoreProperty()" class="btn btn-warning btn-block">
                        <span class="glyphicon glyphicon-repeat"></span> Restore
                      </a>
                    </td>
                  </tr>
                  {% if 'node.property.create' in currentNode.support %}
                  <tr class="active" data-ng-show="showAddPropertyForm">
                    <form action="#" method="post" role="form">
                    <td><input type="text" ng-model="newName" class="form-control" placeholder="Enter a name"></td>
                    <td><input type="text" ng-model="newValue" class="form-control" placeholder="Enter a value"></td>
                    <td>
                      <button type="button" class="btn btn-primary" data-ng-click="addProperty(newName,newValue)" data-ng-show="newName.length > 0 && newValue.length > 0">
                        <span class="glyphicon glyphicon-plus"></span> Create
                      </button>
                      <button type="button" class="btn btn-primary disabled" data-ng-hide="newName.length > 0 && newValue.length > 0">
                        <span class="glyphicon glyphicon-plus"></span> Create
                      </button>
                    </td>
                    </form>
                  </tr>
                  {% endif %}
                  <tr class="property-item" data-ng-repeat="(name,value) in properties | propertyNameFilter:search | orderBy:'name'">
                    <td>
                      <span data-ng-bind="name"></span>
                    </td>
                    <td property-value></td>
                    <td class="property-options">
                      <div class="btn-group pull-right" data-ng-hide="name.slice(0,4) == 'jcr:'">
                        <a href="#" title="Edit" ng-click="propertyValueBtnForm.$show()" ng-hide="propertyValueBtnForm.$visible">
                        <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        {% if 'node.property.delete' in currentNode.support %}
                        <a href="#restoreAlert" data-ng-click="deleteProperty(name)" title="Delete">
                        <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        {% endif %}
                      </div>
                    </td>
                  </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block javascript %}
  <script src="/components/angular/angular.min.js"></script>
  <script src="/components/angular-route/angular-route.min.js"></script>
  <script src="/components/lodash/dist/lodash.min.js"></script>
  <script src="/components/restangular/dist/restangular.min.js"></script>
  <script src="/components/angular-xeditable/dist/js/xeditable.min.js"></script>
  <script src="/assets/js/browser/app.js"></script>
  <script src="/assets/js/browser/service/recursionHelper.js"></script>
  <script src="/assets/js/browser/service/locationProvider.js"></script>
  <script src="/assets/js/browser/service/api.js"></script>
  <script src="/assets/js/browser/controller/tree.js"></script>
  <script src="/assets/js/browser/controller/properties.js"></script>
  <script src="/assets/js/browser/controller/breadcrumb.js"></script>
  <script src="/assets/js/browser/directive/breadcrumbElement.js"></script>
  <script src="/assets/js/browser/directive/propertyValue.js"></script>
  <script src="/assets/js/browser/directive/treeNode.js"></script>

  <script src="/assets/js/browser/service/api-foundation.js"></script>
  <script src="/assets/js/browser/service/api.js"></script>
  <script src="/assets/js/browser/service/repository-factory.js"></script>
  <script src="/assets/js/browser/service/workspace-factory.js"></script>
  <script src="/assets/js/browser/service/node-factory.js"></script>
{% endblock javascript %}
